@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#root {
  width: 100%;
  height: 100vh;
}

.btn-hover {
  @apply hover:scale-105 hover:text-yellow-300 hover:bg-red-300;
}
